@page "/dossierEdit/{Id}"
@using TEST.Server
@inject HttpClient Http

<h3>Dossier @dossier.Title, créé par @dossier.User.Email</h3>

<div class="row">
    <div class="col-8">
        <EditForm Model="dossier" OnValidSubmit="@Edit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputText id="Dossier" disabled="disabled" @bind-Value="dossier.Title" class="invoerveld" />

            <button type="submit" class="">Submit</button>
        </EditForm>
    </div>
    <div class="col-3">
    </div>
</div>



@code {
    [Parameter]
    public string Id { get; set; }
    public Dossier dossier = new Dossier();
    public Proposition proposition = new Proposition();
    protected override async Task OnInitializedAsync()
    {
        dossier = await Http.GetFromJsonAsync<Dossier>($"Dossier/GetDossier/{Id}");
    }
    private async Task Edit()
    {

        var res = await Http.PostAsJsonAsync("Dossier/Edit", dossier);

    }

}
