@page "/dossiers"
@using TEST.Server
@*@using Syncfusion.Blazor.Calendars*@
@inject HttpClient Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication




@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<SfDateTimePicker TValue="DateTime?" Placeholder='Select a date and time'></SfDateTimePicker>*@

<div class="row">
    <div class="col-8">
        <h2>Les dossiers en cours.</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Créé par</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in dossiers)
                {
                    <tr><td><a href="/dossierDetail/@d.Id" >@d.Title</a></td><td>Ole Dufour</td><td> @d.CreationDate.ToString("dd/MM/yyyy")</td></tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <a href="addDossier">Créér un dossier</a>
    </div>
</div>


@code {
    private List<Dossier> dossiers = new List<Dossier>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dossiers = await Http.GetFromJsonAsync<List<Dossier>>("Dossier/GetDossiers");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
