@page "/dossierDetail/{Id}"
@using TEST.Server
@inject HttpClient Http
<h1>Dossier @dossier.Title, créé par  @dossier?.User?.Email  </h1>
<div class="row">

    <div class="col-7">
        <h2>Propositions</h2>
    </div>
    <div class="col-1">
        <a href="propositionAdd/@Id">Faire une proposition</a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col"></th>
                    <th scope="col">Résultat</th>
                    <th scope="col">Expiration</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Proposition v in dossier?.Proposition)
                {
                    <tr>
                        <td>@v.Title</td>
                        <td>
                            <a href="/voteCast/@v.Id">
                                @{
                                    if (!v.CurrentUserHasVoted)
                                    {<span>Merci de voter</span>}
                                }
                            </a>
                        </td>
                        <td><a href="/voteCastResult/@v.Id">4 pour 2 contre</a> </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
@code {
    [Parameter]
    public string Id { get; set; }
    public Dossier dossier = new Dossier();

    protected override async Task OnInitializedAsync()
    {
        dossier = await Http.GetFromJsonAsync<Dossier>($"Dossier/GetDossier/{Id}");
    }

    private async Task Edit()
    {
        var res = await Http.PostAsJsonAsync("Dossier/Edit", dossier);
    }

}
