@page "/dossiers"
@using TEST.Server
@*@using Syncfusion.Blazor.Calendars*@
@inject HttpClient Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<h2>Dossiers</h2>
 
@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<SfDateTimePicker TValue="DateTime?" Placeholder='Select a date and time'></SfDateTimePicker>*@

<div class="row">
    <div class="col-8">
        Tous les dossiers en cours.
        <ul class="list-group">
            @foreach (var d in dossiers)
            {
                <li>  <a href="/dossierEdit/@d.Id" class="list-group-item">@d.Title, @d.CreationDate.ToString("dd/MM/yyyy"),par Ole Dufour</a></li>
            }
        </ul>
    </div>
    <div class="col-3">
        <a href="addDossier">Créér un dossier</a>
    </div>
</div>


@code {
    private List<Dossier> dossiers = new List<Dossier>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dossiers = await Http.GetFromJsonAsync<List<Dossier>>("Dossier/GetDossiers");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
